.contact-form7-contact1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQ0fHx3aGl0ZXxlbnwwfHx8fDE3NDI1MDM2ODJ8MA&ixlib=rb-4.0.3&w=1500");
}
 
.contact-form7-max-width {
  align-items: flex-start;
}
 
.contact-form7-section-title {
  gap: var(--dl-layout-space-unit);
  width: 40%;
  align-items: flex-start;
}
 
.contact-form7-text10 {
  font-family: "Marcellus-Regular";
}
 
.contact-form7-text11 {
  font-family: "HelveticaNeue-Light";
}
 
.contact-form7-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
 
.contact-form7-text12 {
  font-family: "HelveticaNeue-Light";
}
 
.contact-form7-content2 {
  gap: 16px;
  display: flex;
  padding: 8px 0;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form7-row1 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.contact-form7-email {
  font-family: "HelveticaNeue-Light";
}
 
.contact-form7-row2 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.contact-form7-row3 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.contact-form7-link {
  display: contents;
}
 
.contact-form7-icon5 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #000000;
  width: 24px;
  height: 24px;
  text-decoration: none;
}
 
.contact-form7-address {
  display: flex;
  align-self: flex-start;
  align-items: center;
  font-family: "HelveticaNeue-Light";
  justify-content: flex-start;
  text-decoration: none;
}
 
.contact-form7-form {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 60%;
}
 
.contact-form7-container1 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-form7-input1 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form7-text13 {
  font-size: 14px;
  font-family: "HelveticaNeue";
}
 
.contact-form7-text-input1 {
  background-color: rgba(255, 255, 255, 0.7);
}
 
.contact-form7-input2 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form7-text14 {
  font-size: 14px;
  font-family: "HelveticaNeue";
}
 
.contact-form7-text-input2 {
  background-color: rgba(255, 255, 255, 0.7);
}
 
.contact-form7-container2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-form7-input3 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form7-text15 {
  font-size: 14px;
  font-family: "HelveticaNeue";
}
 
.contact-form7-text-input3 {
  background-color: rgba(255, 255, 255, 0.7);
}
 
.contact-form7-input4 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form7-text16 {
  font-size: 14px;
  font-family: "HelveticaNeue";
}
 
.contact-form7-text-input4 {
  background-color: rgba(255, 255, 255, 0.7);
}
 
.contact-form7-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form7-input5 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form7-text17 {
  font-size: 14px;
  font-family: "HelveticaNeue";
}
 
.contact-form7-textarea {
  background-color: rgba(255, 255, 255, 0.7);
}
 
.contact-form7-button {
  align-self: flex-start;
  font-family: "HelveticaNeue-Medium";
}
 
.contact-form7-action1 {
  font-size: 14px;
  font-family: "HelveticaNeue-Medium";
}
 
.contact-form7-fragment1 {
  display: contents;
}
 
.contact-form7-text18 {
  display: inline-block;
  font-family: "HelveticaNeue-Light";
}
 
.contact-form7-fragment2 {
  display: contents;
}
 
.contact-form7-text19 {
  display: inline-block;
}
 
.contact-form7-fragment3 {
  display: contents;
}
 
.contact-form7-text20 {
  display: inline-block;
  font-family: "Marcellus-Regular";
}
 
.contact-form7-fragment4 {
  display: contents;
}
 
.contact-form7-text21 {
  display: inline-block;
}
 
.contact-form7-fragment5 {
  display: contents;
}
 
.contact-form7-text22 {
  display: inline-block;
}
 
.contact-form7-fragment6 {
  display: contents;
}
 
.contact-form7-text23 {
  display: inline-block;
}
 
.contact-form7-fragment7 {
  display: contents;
}
 
.contact-form7-text29 {
  display: inline-block;
  font-family: "HelveticaNeue-Medium";
}
 
@media(max-width: 991px) {
  .contact-form7-max-width {
    align-items: flex-start;
    flex-direction: column;
  }
  .contact-form7-section-title {
    width: 100%;
  }
  .contact-form7-form {
    width: 100%;
  }
  .contact-form7-container1 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form7-input1 {
    width: 50%;
  }
  .contact-form7-input2 {
    width: 50%;
    flex-direction: column;
  }
  .contact-form7-container2 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form7-input3 {
    width: 50%;
  }
  .contact-form7-input4 {
    width: 50%;
  }
  .contact-form7-container3 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
}
 
@media(max-width: 479px) {
  .contact-form7-text12 {
    text-align: center;
  }
  .contact-form7-form {
    padding: var(--dl-layout-space-unit);
  }
  .contact-form7-container1 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form7-input1 {
    width: 100%;
  }
  .contact-form7-input2 {
    width: 100%;
  }
  .contact-form7-container2 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form7-input3 {
    width: 100%;
  }
  .contact-form7-input4 {
    width: 100%;
  }
}
